// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    // max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    // max-width: none;
  }
}

.container {
  @media (max-width: $breakpoint992) {
    padding: 0 34px;
  }

  @media (max-width: $breakpoint768) {
    padding: 0 20px;
  }
}

html {
  overflow-x: hidden;
}

.new-main {
  overflow-x: hidden;
}

// Body Locked
body {
  font-family: "HelveticaNeueCyr", sans-serif;

  // &.locked {
  //   overflow: hidden;
  // }
}


// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes firstSlideAnimation {
  0% {
    background-image: url('../img/main-page/slide-animation-bg.png');
  }

  50% {}

  100% {
    background-image: url('../img/main-page/slide-animation-bg.png');
  }
}

@keyframes slidingAnimation {
  0% {
    left: 20%;
  }

  25% {
    left: 70%;
  }

  50% {
    left: 20%;
  }

  75% {
    left: 70%;
  }

  90% {
    left: 20%;
  }

  100% {
    content: none;
  }
}