// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    // max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    // max-width: none;
  }
}

.container {
  @media (max-width: $breakpoint992) {
    padding: 0 34px;
  }

  @media (max-width: $breakpoint768) {
    padding: 0 20px;
  }
}

html {
  overflow-x: hidden;
}

.new-main {
  overflow-x: hidden;
}

// Body Locked
body {
  font-family: "HelveticaNeueCyr", sans-serif;

  // &.locked {
  //   overflow: hidden;
  // }
}


// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes firstSlideAnimation {
  0% {
    background-image: url('../img/main-page/slide-animation-bg.png');
  }

  50% {}

  100% {
    background-image: url('../img/main-page/slide-animation-bg.png');
  }
}

@keyframes slidingAnimation {
  0% {
    left: 20%;
  }

  25% {
    left: 70%;
  }

  50% {
    left: 20%;
  }

  75% {
    left: 70%;
  }

  90% {
    left: 20%;
  }

  100% {
    content: none;
  }
}

.fixbtn {
  position: fixed;
  z-index: 151;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  -webkit-transition: 0.375s ease all;
  -o-transition: 0.375s ease all;
  transition: 0.375s ease all;
}

.fixbtn .open,
.fixbtn-item {
  position: relative;
  padding: 4px 8px;
  width: 56px;
  height: 48px;
  background-color: #b8181c;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
  background-image: url("../img/static/fb1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3.2rem 3.2rem;
  opacity: 1;
  visibility: visible;
}

.fixbtn .open:before,
.fixbtn-item:before {
  content: 'Получить помощь';
  position: absolute;
  font-size: 1.4rem;
  top: -webkit-calc(100% + 0.8rem);
  top: calc(100% + 0.8rem);
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.fixbtn .open:hover,
.fixbtn-item:hover {
  color: inherit;
  -webkit-box-shadow: 0px 0px 0.5rem 0px #b8181c;
  box-shadow: 0px 0px 0.5rem 0px #b8181c;
}

.fixbtn .open:active {
  opacity: 0.75;
}

.fixbtn .close {
  width: 0;
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url("../img/static/close_button-2.svg");
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
  background-position: center;
  cursor: pointer;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  background-color: #b8181c;
  position: relative;
  margin: 0.8rem auto;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.fixbtn .close:hover {
  -webkit-box-shadow: 0px 0px 0.5rem 0px #b8181c;
  box-shadow: 0px 0px 0.5rem 0px #b8181c;
}

.fixbtn .close:active {
  opacity: 0.75;
}

.fixbtn.active {
  right: 1.6rem;
}

.fixbtn.active .links {
  -webkit-transition: 0.375s ease all;
  -o-transition: 0.375s ease all;
  transition: 0.375s ease all;
  background-color: #fff;
  width: auto;
  height: auto;
  -webkit-border-radius: 0.8rem;
  border-radius: 0.8rem;
  border: 1px solid #c4c4c4;
  padding: 1.6rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 2.4rem;
  overflow: visible;
}

.fixbtn.active .links>*:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.fixbtn.active .links> :nth-child(1),
.fixbtn.active .links> :nth-child(2),
.fixbtn.active .links> :nth-child(3),
.fixbtn.active .links> :nth-child(4),
.fixbtn.active .links> :nth-child(5) {
  opacity: 1;
}

.fixbtn.active .links> :nth-child(1) span,
.fixbtn.active .links> :nth-child(2) span,
.fixbtn.active .links> :nth-child(3) span,
.fixbtn.active .links> :nth-child(4) span,
.fixbtn.active .links> :nth-child(5) span {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 0.4rem;
  opacity: 1;
}

.fixbtn.active .links> :nth-child(1):before,
.fixbtn.active .links> :nth-child(2):before,
.fixbtn.active .links> :nth-child(3):before,
.fixbtn.active .links> :nth-child(4):before,
.fixbtn.active .links> :nth-child(5):before {
  width: 5.6rem;
  height: 4.8rem;
  -webkit-border-radius: 0.4rem;
  border-radius: 0.4rem;
  background-size: 3.2rem;
}

.fixbtn.active .open {
  background-image: url("../img/static/close_button-2.svg");
  background-repeat: no-repeat;
  background-size: 1.6rem 1.6rem;
  width: 4.8rem;
  height: 4.8rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0.8rem auto;
  background-position: center;
}

.fixbtn.active .open:before {
  top: 100%;
  content: 'Закрыть';
  color: #fff;
}

.fixbtn .links {
  overflow: hidden;
  width: 0;
  height: 0;
}

.fixbtn span {
  text-align: center;
  font-size: 0;
  line-height: 0;
  color: #000;
  margin-top: 0;
  white-space: pre;
  display: inline-block;
  opacity: 0;
}

.fixbtn .links> :nth-child(1) {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}

.fixbtn .links> :nth-child(1):before {
  content: '';
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  background-image: url("../img/static/fb1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-color: #b8181c;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.fixbtn .links> :nth-child(1):hover {
  opacity: 1;
}

.fixbtn .links> :nth-child(1):hover:before {
  -webkit-box-shadow: 0px 0px 0.5rem 0px #b8181c;
  box-shadow: 0px 0px 0.5rem 0px #b8181c;
}

.fixbtn .links> :nth-child(1):active {
  opacity: 0.75;
}

.fixbtn .links> :nth-child(2) {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}

.fixbtn .links> :nth-child(2):before {
  content: '';
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  background-image: url("../img/static/fb2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-color: #b8181c;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.fixbtn .links> :nth-child(2):hover {
  opacity: 1;
}

.fixbtn .links> :nth-child(2):hover:before {
  -webkit-box-shadow: 0px 0px 0.5rem 0px #b8181c;
  box-shadow: 0px 0px 0.5rem 0px #b8181c;
}

.fixbtn .links> :nth-child(2):active {
  opacity: 0.75;
}

.fixbtn .links> :nth-child(3) {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}

.fixbtn .links> :nth-child(3):before {
  content: '';
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  background-image: url("../img/static/fb3.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-color: #b8181c;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.fixbtn .links> :nth-child(3):hover {
  opacity: 1;
}

.fixbtn .links> :nth-child(3):hover:before {
  -webkit-box-shadow: 0px 0px 0.5rem 0px #b8181c;
  box-shadow: 0px 0px 0.5rem 0px #b8181c;
}

.fixbtn .links> :nth-child(3):active {
  opacity: 0.75;
}

.fixbtn .links> :nth-child(4) {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}

.fixbtn .links> :nth-child(4):before {
  content: '';
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  background-image: url("../img/static/virtHelp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-color: #b8181c;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.fixbtn .links> :nth-child(4):hover {
  opacity: 1;
}

.fixbtn .links> :nth-child(4):hover:before {
  -webkit-box-shadow: 0px 0px 0.5rem 0px #b8181c;
  box-shadow: 0px 0px 0.5rem 0px #b8181c;
}

.fixbtn .links> :nth-child(4):active {
  opacity: 0.75;
}

@media screen and (max-width: 680px) {

  .fixbtn .open,
  .fixbtn-item {
    display: block;
    width: 40px;
    height: 32px;
    background-size: 2.4rem 2.4rem;
  }

  .fixbtn .open:before,
  .fixbtn-item:before {
    font-size: 1.2rem;
  }

  .fixbtn .links {
    overflow: hidden;
    width: 0;
    padding: 0;
    border: none;
    height: 0;
  }

  .fixbtn .links> :nth-child(1) {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
  }

  .fixbtn .links> :nth-child(1):before {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    background-image: url("../img/static/fb1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    background-color: #b8181c;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .fixbtn .links> :nth-child(1):hover {
    opacity: 1;
  }

  .fixbtn .links> :nth-child(1):hover:before {
    -webkit-box-shadow: 0px 0px 0.5rem 0px #b8181c;
    box-shadow: 0px 0px 0.5rem 0px #b8181c;
  }

  .fixbtn .links> :nth-child(1):active {
    opacity: 0.75;
  }

  .fixbtn .links> :nth-child(2) {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
  }

  .fixbtn .links> :nth-child(2):before {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    background-image: url("../img/static/fb2.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    background-color: #b8181c;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .fixbtn .links> :nth-child(2):hover {
    opacity: 1;
  }

  .fixbtn .links> :nth-child(2):hover:before {
    -webkit-box-shadow: 0px 0px 0.5rem 0px #b8181c;
    box-shadow: 0px 0px 0.5rem 0px #b8181c;
  }

  .fixbtn .links> :nth-child(2):active {
    opacity: 0.75;
  }

  .fixbtn .links> :nth-child(3) {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
  }

  .fixbtn .links> :nth-child(3):before {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    background-image: url("../img/static/fb3.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    background-color: #b8181c;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .fixbtn .links> :nth-child(3):hover {
    opacity: 1;
  }

  .fixbtn .links> :nth-child(3):hover:before {
    -webkit-box-shadow: 0px 0px 0.5rem 0px #b8181c;
    box-shadow: 0px 0px 0.5rem 0px #b8181c;
  }

  .fixbtn .links> :nth-child(3):active {
    opacity: 0.75;
  }

  .fixbtn .links> :nth-child(4) {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
  }

  .fixbtn .links> :nth-child(4):before {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    background-image: url("../img/static/virtHelp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    background-color: #b8181c;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .fixbtn .links> :nth-child(4):hover {
    opacity: 1;
  }

  .fixbtn .links> :nth-child(4):hover:before {
    -webkit-box-shadow: 0px 0px 0.5rem 0px #b8181c;
    box-shadow: 0px 0px 0.5rem 0px #b8181c;
  }

  .fixbtn .links> :nth-child(4):active {
    opacity: 0.75;
  }

  .fixbtn.active .open {
    height: 3.2rem;
    width: 3.2rem;
  }

  .fixbtn.active .links {
    padding: 3rem 3rem;
    grid-row-gap: 1.6rem;
    padding: 1.6rem;
    -webkit-border-radius: 0.8rem;
    border-radius: 0.8rem;
    border: 1px solid #c4c4c4;
  }

  .fixbtn.active .links> :nth-child(1):before,
  .fixbtn.active .links> :nth-child(2):before,
  .fixbtn.active .links> :nth-child(3):before,
  .fixbtn.active .links> :nth-child(4):before {
    width: 4rem;
    height: 3.2rem;
    background-size: 3rem 3rem;
  }

  .fixbtn.active .links> :nth-child(1) span,
  .fixbtn.active .links> :nth-child(2) span,
  .fixbtn.active .links> :nth-child(3) span,
  .fixbtn.active .links> :nth-child(4) span {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}


.fixbtn .open::before,
.fixbtn-item::before {
  content: "Получить помощь";
  position: absolute;
  font-size: 14px;
  top: calc(100% + 0.8rem);
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}


.fixbtn-item__review::before {
  content: "Оставить благодар ность";
  text-align: center;
}


.fixbtn .open,
.fixbtn-item {
  position: relative;
  padding: 4px 8px;
  margin-right: 10px;
  width: 56px;
  height: 48px;
  background-color: #b8181c;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-image: url("../img/header/fb1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  opacity: 1;
  visibility: visible;

}

.fixbtn-item__review {
  /* background-size: 2.3rem 2.3rem; */
  background-image: url("../img/header/fb4.svg");
  /* background-image: url(/local/templates/.default/img/static/fixbtn-review.svg); */
}