// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    // max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    // max-width: none;
  }
}

.container {
  @media (max-width: $breakpoint992) {
    padding: 0 34px;
  }

  @media (max-width: $breakpoint768) {
    padding: 0 20px;
  }
}

html {
  overflow-x: hidden;
}

.new-main {
  overflow-x: hidden;
}

// Body Locked
body {
  font-family: "HelveticaNeueCyr", sans-serif;

  // &.locked {
  //   overflow: hidden;
  // }

  &.opened-fixed-btns {
    overflow: hidden;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 20;
      transition: all 0.4s ease-out;
      opacity: 1;
      visibility: visible;
    }
  }
}


a,
a:visited {
  text-decoration: none;
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes firstSlideAnimation {
  0% {
    background-image: url('../img/main-page/slide-animation-bg.png');
  }

  50% {}

  100% {
    background-image: url('../img/main-page/slide-animation-bg.png');
  }
}

@keyframes slidingAnimation {
  0% {
    left: 20%;
  }

  25% {
    left: 70%;
  }

  50% {
    left: 20%;
  }

  75% {
    left: 70%;
  }

  90% {
    left: 20%;
  }

  100% {
    content: none;
  }
}



.fixed-btns {
  position: fixed;
  z-index: 22;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  -webkit-transition: 0.375s ease all;
  -o-transition: 0.375s ease all;
  transition: 0.375s ease all;
  // .fixed-btns__inner

  @media (max-width: $breakpoint480) {
    right: 15px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    text-align: center;
  }

  // .fixed-btns__group

  &__group {
    max-width: 60px;
    cursor: pointer;

    &:hover {
      opacity: 1;
      color: inherit;

      .fixed-btns__pic {
        box-shadow: rgb(184, 24, 28) 0px 0px 0.5rem 0px;
      }
    }
  }

  // .fixed-btns__pic

  &__pic {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    margin-right: 10px;
    width: 56px;
    height: 48px;
    background-color: #b8181c;
    -webkit-border-radius: 4px;
    border-radius: 4px;

    margin-bottom: 5px;

    @media (max-width: $breakpoint480) {
      width: 40px;
      height: 30px;
      margin: 0 auto 3px;
    }
  }

  // .fixed-btns__text

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 120%;

    @media (max-width: $breakpoint480) {
      font-size: 12px;
      line-height: 100%;
    }
  }
}

.fixed-btns__opened {
  position: absolute;
  left: -30px;
  bottom: -50%;
  // top: 0;
  // width: 100%;

  z-index: 22;
  transform: translateX(150%);
  overflow: hidden;
  transition: transform 0.3s linear;

  &.opened-fixed-btns {
    transform: translateX(0);
  }
}

.fixed-btns__opened-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding: 16px 10px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  margin: 0;
}

.fixed-btns__opened-item {
  margin: 0;
}

.fixed-btns__opened-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fixed-btns__text {
  margin: 0;
}

.fixed-btns__opened-close {
  width: 48px;
  height: 48px;
  margin: 10px auto 0;
  cursor: pointer;

  .fixed-btns__pic {
    border-radius: 100%;
    width: 48px;
    height: 48px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 120%;
    color: #fff;

    @media (max-width: $breakpoint480) {
      font-size: 12px;
      line-height: 100%;
    }
  }
}


.new-breadcumbs {
  padding: 12px 0 40px;

  // .new-breadcumbs__list

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }

  // .new-breadcumbs__item

  &__item {
    position: relative;
    margin-bottom: 0;
    color: #939393;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;

    &:not(:last-child) {
      padding-right: 10px;
      margin-right: 4px;
    }

    &:not(:last-child):before {
      content: '/';
      position: absolute;
      right: 0;
      top: 0;

      color: #939393;
      font-size: 14px;
      font-weight: normal;
      line-height: 16px;
    }
  }

  // .new-breadcumbs__link

  &__link {
    color: #939393;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
  }
}