// Header

.new-header {
  position: static !important;
  border: 0;
  background-color: transparent;
  margin-bottom: 0;
  top: auto;
  margin-bottom: 35px;

  @media (max-width: $breakpoint768) {
    margin-bottom: 28px;
  }

  @media screen and (max-width: 639px) {
    max-height: fit-content;
  }


  // .new-header__top

  &__top {
    padding: 12px 0;
    margin-bottom: 18px;
    background-color: var(--blue-color);
  }

  // .new-header__top-inner

  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;

    @media (max-width: $breakpoint768) {
      justify-content: center;
    }
  }

  // .new-header__top-block

  &__top-block {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .new-header__top-geo

  &__top-geo {

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  &__top-discont {

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__top-eye {

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  &__top-sos {

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__top-phone {}

  // .new-header__top-pic

  &__top-pic {
    width: 20px;
    height: 20px;
  }

  // .new-header__top-label

  &__top-label {
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      font-size: 12px;
      line-height: 20px;
    }

  }

  // .new-header__top-region

  &__top-region {
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    text-decoration: underline;

    @media (max-width: $breakpoint992) {
      font-size: 12px;
      line-height: 20px;
    }

  }

  // .new-header__middle

  &__middle {}

  // .new-header__nav

  &__nav {
    position: relative;
  }
}


.new-header {

  // .new-header__middle

  &__middle {
    padding-bottom: 18px;
    border-bottom: 1px solid rgb(150, 150, 150, 0.2);
  }

  // .new-header__middle-inner

  &__middle-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: $breakpoint768) {
      flex-wrap: wrap;
      row-gap: 14px;
    }
  }

  // .new-header__logo

  &__logo {

    @media (max-width: $breakpoint768) {
      order: 1;
    }
  }

  // .new-header__logo-pic

  &__logo-pic {
    max-width: 100%;

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  &__logo-pic--mob {
    display: none;

    @media (max-width: $breakpoint768) {
      display: flex;
      flex: 0 1 170px;
      max-height: 42px;
    }
  }

  // .new-header__middle-links

  &__middle-links {
    display: flex;
    align-items: center;
    column-gap: 32px;

    @media (max-width: 1200px) {
      display: none;
    }
  }

  // .new-header__middle-link

  &__middle-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  // .new-header__middle-pic

  &__middle-pic {}

  // .new-header__middle-text

  &__middle-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 135%;
    color: var(--black-color);
  }

  // .new-header__application

  &__application {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px 24px;

    border-radius: 50px;
    background: var(--red-color);

    @media (max-width: $breakpoint768) {
      order: 3;
      width: 100%;
      flex: 0 1 100%;
      text-align: center;
      justify-content: center;
    }
  }

  // .new-header__application-pic

  &__application-pic {}

  // .new-header__application-text

  &__application-text {
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--white-color);
  }
}

.new-header__adaptive {
  display: none;

  @media (max-width: 1200px) {
    display: flex;
    align-items: center;
    column-gap: 34px;
  }

  @media (max-width: $breakpoint768) {
    order: 2;
  }


  @media (max-width: $breakpoint480) {
    column-gap: 20px;
  }
}

.new-header__adaptive-search {
  cursor: pointer;
}

.new-header__adaptive-src-pic {}

.new-header__adaptive-burger {
  display: block;
  position: relative;
  height: 16px;
  width: 32px;
  z-index: 102;
  cursor: pointer;

  &.active-burger {
    &:before {
      background: var(--black-color);
      transform: rotate(45deg);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      top: 6px;
    }

    &:after {
      background: var(--black-color);
      transform: rotate(-45deg);
      bottom: 8px;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    & span {
      transform: scale(0);
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--black-color);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  &:before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    position: absolute;
    top: 7px;
    right: 0;
    width: 100%;
    background: var(--black-color);
    height: 2px;
    transform: scale(1);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
}


.new-header {

  // .new-header__nav

  &__nav {
    border-bottom: 1px solid rgb(150, 150, 150, 0.2);

    @media (max-width:1200px) {
      position: relative;
      border: 0;
    }
  }

  // .new-header__nav-inner

  &__nav-inner {}

  // .new-header__menu

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:1200px) {
      flex-direction: column;
      align-items: flex-start;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      max-height: 0;
      padding: 0 15px;
      background-color: var(--white-color);
      user-select: none;
      pointer-events: none;
      overflow: hidden;

      transition: max-height 0.5s linear;

      z-index: 6;


      &.active {
        max-height: 1000px;
        user-select: auto;
        pointer-events: visible;
      }
    }
  }

  // .new-header__menu-item

  &__menu-item {

    &>img {
      display: none;
    }

    @media (max-width:1200px) {
      position: relative;
      width: 100%;
      border-bottom: 1px solid rgb(150, 150, 150, 0.2);

      x &>img {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }

  // .new-header__item-link

  &__item-link {
    font-weight: 400;
    line-height: normal;
    font-size: 20px;
    color: var(--black-color);

    @media (max-width:1200px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 20px 0;

      font-size: 18px;
      line-height: 135%;
      color: var(--blue-color);
    }
  }

  // .new-header__item-link--blue

  &__item-link--blue {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 28px 18px;
    background-color: #E6F3FF;

    @media (max-width:1200px) {
      padding: 20px 0;
      background-color: transparent;

      img {
        display: none;
      }
    }
  }

  &__item-link--src {
    @media (max-width:1200px) {
      display: none;
      border: 0;
    }
  }

  &__menu-groups {
    display: none;

    @media (max-width:1200px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 60px;
      row-gap: 22px;
      max-width: 360px;
      padding: 20px 0;
    }

    @media (max-width: 359pc) {
      column-gap: 24px;
    }
  }

  &__menu-group {
    display: flex;
    align-items: center;
    column-gap: 8px;

    p {
      font-weight: 400;
      line-height: 135%;
      font-size: 16px;
      color: var(--black-color);
    }


    @media (max-width: $breakpoint480) {
      p {
        font-size: 14px;
      }
    }
  }
}


.new-header {

  // .new-header__menu-sub

  &__menu-sub {
    position: absolute;
    top: 101%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-height: calc(100vh - 223px);
    padding: 40px 0;
    background-color: var(--white-color);
    z-index: 7;

    @media (max-width: 1200px) {
      position: static;
      min-height: auto;
      transform: translateX(0);
      padding: 20px;
    }
  }

  // .new-header__menu-sub-header

  &__menu-sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    max-width: 1150px;
    width: 100%;
    margin: 0 auto 40px;
    padding: 0 15px;

    @media (max-width: 1200px) {
      display: none;
    }
  }

  // .new-header__menu-sub-title

  &__menu-sub-title {
    font-weight: 550;
    line-height: 135%;
    font-size: 29px;
    color: var(--blue-color);
  }

  // .new-header__menu-sub-close

  &__menu-sub-close {
    display: flex;
    align-items: center;
    column-gap: 5px;

    font-weight: 400;
    line-height: 135%;
    font-size: 16px;
    color: #969696;

    cursor: pointer;

    &:hover {
      color: var(--blue-color);

      svg path {
        fill: var(--blue-color);
      }
    }
  }

  // .new-header__menu-sublist

  &__menu-sublist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // row-gap: 25px;
    column-gap: 25px;

    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 12px;
      padding: 0;
    }
  }

  // .new-header__menu-subitem

  &__menu-subitem {}

  // .new-header__menu-sublink

  &__menu-sublink {
    display: inline-flex;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 30px;
    font-weight: 400;
    line-height: 135%;
    font-size: 20px;
    color: var(--blue-color);

    @media (min-width: 1200px) {
      &:hover {
        border-color: #D7E6F7;
      }
    }


    @media (max-width: 1200px) {
      padding: 0;
      border: 0;
      font-size: 16px;
      color: var(--black-color);
    }
  }
}








.new-header__questions-accordion {
  display: flex;
  flex-direction: column;
}

.new-questions-accordion__item {
  overflow: hidden;
}


.new-questions-accordion__item.active .new-questions-accordion__header {}

.new-questions-accordion__header {
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.new-questions-accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease, padding 0.2s ease;

}

.new-questions-accordion__item.active .new-questions-accordion__header {}

.new-questions-accordion__item.active .new-questions-accordion__content {
  max-height: 1000px;
}


.new-header {

  // .new-header__questions

  &__questions {}

  // .new-header__questions-header

  &__questions-header {}

  // .new-header__questions-title

  &__questions-title {}

  // .new-header__questions-accordion

  &__questions-accordion {}
}

.new-questions-accordion {

  // .new-questions-accordion__item

  &__item {}

  // .new-questions-accordion__header

  &__header {}

  // .new-questions-accordion__content

  &__content {}

  // .new-questions-accordion__text

  &__text {}
}