.main-about {
  padding: 0;

  // .main-about__inner

  &__inner {
    display: flex;
    align-items: flex-start;
    column-gap: 32px;


    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 40px;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 30px;
    }
  }

  // .main-about__aside

  &__aside {
    position: sticky;
    top: 0;
    flex: 0 0 256px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;


    @media (max-width: $breakpoint992) {
      position: static;
      flex: 0 1 auto;
      width: 100%;
    }
  }

  // .main-about__aside-list

  &__aside-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 20px;
    border-radius: 16px;
    background-color: #E6F3FF;
  }

  // .main-about__aside-item

  &__aside-item {}

  // .main-about__aside-link

  &__aside-link {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    color: var(--blue-color);

    transition: color 0.2s linear;

    &:hover {
      color: var(--red-color);
    }

    &.active {
      color: var(--red-color);
    }
  }

  // .main-about__aside-pic

  &__aside-pic {
    max-width: 256px;
    width: 100%;
    object-fit: contain;
    height: auto;


    @media (max-width: $breakpoint992) {
      display: none;
    }
  }

  // .main-about__main

  &__main {}

  // .main-about__title

  &__title {
    margin-bottom: 30px;
    font-family: "HelveticaNeueCyr", sans-serif;
    font-size: 43px;
    font-weight: 700;
    line-height: 125%;
    text-transform: uppercase;
    color: var(--blue-color);

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
      font-size: 35px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 26px;
    }
  }

  // .main-about__descr

  &__descr {
    margin-bottom: 85px;
    font-size: 22px;
    font-weight: 400;
    line-height: 135%;
    color: var(--red-color);

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .main-about__mission

  &__mission {
    margin-bottom: 60px;
    padding: 45px;
    border-radius: 16px;
    background-color: #F8F8F8;

    @media (max-width: $breakpoint992) {
      padding: 45px 40px;
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      padding: 30px;
    }
  }

  // .main-about__mission-title

  &__mission-title {
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 700;
    line-height: normal;
    color: var(--blue-color);

    @media (max-width: $breakpoint768) {
      margin-bottom: 15px;
      font-size: 28px;
    }
  }

  // .main-about__mission-descr

  &__mission-descr {
    margin-bottom: 35px;
    font-size: 17px;
    font-weight: 400;
    line-height: 135%;
    color: var(--blue-color);

    @media (max-width: $breakpoint768) {
      margin-bottom: 25px;
    }
  }

  // .main-about__mission-pic

  &__mission-pic {
    max-width: 540px;
    width: 100%;
    height: auto;
  }

  // .main-about__director

  &__director {
    display: flex;
    align-items: flex-start;
    column-gap: 32px;
    margin-bottom: 60px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 30px;
      margin-bottom: 40px;
    }
  }

  // .main-about__director-info

  &__director-info {
    @media (max-width: $breakpoint992) {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
  }

  &__director-block {
    @media (max-width: $breakpoint992) {
      max-width: 170px;
    }
  }

  // .main-about__director-pic

  &__director-pic {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 22px;
    border-radius: 100%;

    @media (max-width: $breakpoint992) {
      width: 122px;
      height: 122px;
      margin-bottom: 0;
    }
  }

  // .main-about__director-name

  &__director-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 135%;
    color: #002F5C;

  }

  // .main-about__director-position

  &__director-position {
    font-size: 14px;
    font-weight: 400;
    line-height: 135%;
    color: #707070;
  }

  // .main-about__director-words

  &__director-words {
    position: relative;
    padding: 30px;
    border-radius: 16px;
    background-color: #E6F3FF;

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: -20px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 13.5px 27px 13.5px 0;
      border-color: transparent #e6f3ff transparent transparent;


      @media (max-width: $breakpoint992) {
        top: -15px;
        left: 20px;

        transform: rotate(-30deg);
      }
    }
  }

  // .main-about__director-label

  &__director-label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 135%;
    color: #002F5C;
  }

  // .main-about__director-texts

  &__director-texts {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  // .main-about__director-text

  &__director-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 135%;
    color: var(--blue-color);
  }

  // .main-about__video-wrapper

  &__video-wrapper {
    margin-bottom: 60px;
    border-radius: 16px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }
  }

  // .main-about__video

  &__video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: 468px;
    font-size: 32px;
    background-color: grey;

    @media (max-width: $breakpoint992) {
      height: 368px;
    }


    @media (max-width: $breakpoint768) {
      height: 268px;
    }

    @media (max-width: $breakpoint480) {
      height: 168px;
    }

  }

  // .main-about__video-play

  &__video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  // .main-about__video-descr

  &__video-descr {
    border-radius: 0px 0px 16px 16px;
    background-color: var(--blue-color);
    padding: 22px 35px;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    color: #F8F8F8;

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }


    @media (max-width: $breakpoint768) {
      padding: 20px 24px;
      font-size: 14px;
    }

  }

  // .main-about__availability

  &__availability {
    margin-bottom: 60px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }
  }

  // .main-about__subtitle

  &__subtitle {
    margin-bottom: 20px;
    color: #002F5C;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 15px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 28px;
      text-align: center;
    }
  }

  // .main-about__text

  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 135%;
    color: var(--blue-color);

    @media (max-width: $breakpoint768) {
      font-size: 18px;
      text-align: center;
    }
  }

  // .main-about__map-container

  &__map-container {
    margin: 36px 0 24px;

    @media (max-width: $breakpoint992) {
      margin: 20px 0 30px;
    }

    @media (max-width: $breakpoint768) {
      margin: 0 0 20px;
    }
  }

  // .main-about__map-pic

  &__map-pic {
    max-width: 100%;
    width: 100%;
  }

  // .main-about__availability-list

  &__availability-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 30px;
      align-items: center;
      text-align: center;
    }
  }

  // .main-about__availability-item

  &__availability-item {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  // .main-about__availability-item-count

  &__availability-item-count {
    font-size: 47px;
    font-weight: 700;
    line-height: 111%;
    color: var(--blue-color);
  }

  // .main-about__availability-item-descr

  &__availability-item-descr {
    font-size: 17px;
    font-weight: 400;
    line-height: 135%;
    color: #4D5759;
  }

  // .main-about__reliability

  &__reliability {
    margin-bottom: 60px;
    padding: 64px;
    border-radius: 16px;
    background-color: #F8F8F8;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
      padding: 40px;
    }

    @media (max-width: $breakpoint768) {
      padding: 30px;
    }
  }

  // .main-about__reliability-list

  &__reliability-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;
    margin: 40px 0 32px;

    @media (max-width: $breakpoint992) {
      margin: 40px 0;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 40px;
      align-items: center;
      margin: 24px 0 16px;
      text-align: center;
    }
  }

  // .main-about__reliability-item

  &__reliability-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .main-about__reliability-item-count

  &__reliability-item-count {
    font-size: 32px;
    font-weight: 700;
    line-height: 111%;
    color: var(--blue-color);
  }

  // .main-about__reliability-item-descr

  &__reliability-item-descr {
    font-size: 17px;
    font-weight: 400;
    line-height: 135%;
    color: #4D5759;
  }

  // .main-about__reliability-pic

  &__reliability-pic {
    max-width: 600px;
    width: 100%;
    margin-bottom: 48px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 20px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 15px;
    }
  }
}


.main-about {

  // .main-about__management

  &__management {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 15px;
    padding: 30px;
    margin-bottom: 70px;
    border-radius: 16px;
    border: 2px solid #D7E6F7;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      margin-bottom: 40px;
    }
  }

  // .main-about__management-title

  &__management-title {
    margin-bottom: 0;

    @media (max-width: $breakpoint992) {
      margin-bottom: 0;
    }
  }

  // .main-about__subtitle

  &__subtitle {

    span {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      color: var(--red-color);
    }
  }

  // .main-about__management-more

  &__management-more {
    display: flex;
    align-items: center;
    column-gap: 16px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    color: var(--red-color);

    svg {
      transition: transform 0.2s linear;
    }

    &:hover {

      svg {
        transform: translateX(5px);
      }
    }
  }

  // .main-about__tasks

  &__tasks {}

  // .main-about__tasks-title

  &__tasks-title {
    margin-bottom: 30px;
  }

  // .main-about__tasks-list

  &__tasks-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 20px;
    margin-bottom: 70px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 40px;
    }
  }

  // .main-about__tasks-item

  &__tasks-item {
    display: grid;
    align-content: baseline;
    row-gap: 30px;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid #D7E6F7;

    @media (max-width: $breakpoint768) {
      justify-items: center;
    }
  }

  // .main-about__tasks-icon

  &__tasks-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    min-width: 84px;
    height: 84px;
    border-radius: 100%;
    background-color: #E6F3FF;
  }

  // .main-about__tasks-text

  &__tasks-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: var(--blue-color);
  }

  // .main-about__text

  &__text {}

  // .main-about__statistics

  &__statistics {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 32px;
    row-gap: 32px;

    margin-bottom: 70px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
      column-gap: 20px;
      margin-bottom: 40px;
    }
  }

  // .main-about__statistic

  &__statistic {
    display: grid;
    align-content: baseline;
    padding: 30px;
    border-radius: 16px;
    background-color: #E6F3FF;
  }

  // .main-about__statistic-pic

  &__statistic-pic {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }

  // .main-about__statistic-count

  &__statistic-count {
    font-size: 47px;
    font-weight: 700;
    line-height: 111%;
    color: var(--blue-color);

    @media (max-width: $breakpoint992) {
      font-size: 34px;
    }
  }

  // .main-about__statistic-position

  &__statistic-position {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 135%;
    color: var(--blue-color);

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }
  }

  // .main-about__statistic-text

  &__statistic-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 135%;
    color: #4D5759;

    @media (max-width: $breakpoint992) {
      font-size: 16px;
    }
  }

  // .main-about__competence

  &__competence {
    padding: 64px;
    border-radius: 16px;
    background-color: #F8F8F8;
    margin-bottom: 70px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
      padding: 40px 30px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
      padding: 30px;
    }
  }

  // .main-about__competence-title

  &__competence-title {
    margin-bottom: 40px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 24px;
    }
  }

  // .main-about__competence-block

  &__competence-block {
    display: flex;
    align-items: center;
    column-gap: 32px;


    &:not(:last-child) {
      margin-bottom: 24px;

      @media (max-width: $breakpoint992) {
        margin-bottom: 46px;
      }

      @media (max-width: $breakpoint768) {
        margin-bottom: 30px;
      }
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__competence-block--reverse {
    flex-direction: row-reverse;
    margin-bottom: 50px !important;

    @media (max-width: $breakpoint768) {
      margin-bottom: 30px;
    }
  }

  // .main-about__competence-pic

  &__competence-pic {
    max-width: 256px;
    width: 100%;
    height: auto;
  }
}

.grid-column-2 {
  grid-column: span 2;

  @media (max-width: $breakpoint768) {
    grid-column: span 1;
  }
}

.grid-column-3 {
  grid-column: span 3;

  @media (max-width: $breakpoint768) {
    grid-column: span 1;
  }
}


.main-about {

  // .main-about__thanks

  &__thanks {
    position: relative;

    margin-bottom: 60px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

  }

  // .main-about__thanks-header

  &__thanks-header {
    display: flex;
    align-items: center;
    column-gap: 46px;
    min-height: 56px;
    margin-bottom: 42px;
    padding-right: 124px;


    @media (max-width: $breakpoint768) {
      flex-direction: column;
      padding-right: 0;
      margin-bottom: 30px;
    }
  }

  // .main-about__thanks-title

  &__thanks-title {
    margin-bottom: 0;
  }

  // .main-about__subtitle

  &__subtitle {}

  // .main-about__thanks-tabs

  &__thanks-tabs {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  // .main-about__thanks-tab

  &__thanks-tab {
    font-weight: 400;
    line-height: 135%;
    font-size: 17px;
    color: var(--blue-color);

    &.active {
      color: var(--red-color);
    }
  }

  // .main-about__thanks-slider

  &__thanks-slider {
    max-width: 832px;

    @media (max-width: 1200px) {
      max-width: calc(100vw - 360px);
    }

    @media (max-width: $breakpoint992) {
      max-width: calc(100vw - 50px);
    }


    @media (max-width: $breakpoint768) {
      margin-bottom: 30px;
    }
  }

  // .main-about__thanks-wrapper

  &__thanks-wrapper {}

  // .main-about__thanks-slide

  &__thanks-slide {
    max-width: 256px;
    width: 100%;



    @media (max-width: $breakpoint768) {
      max-width: 100%;
      text-align: center;
    }
  }

  // .main-about__thanks-slide-img

  &__thanks-slide-img {
    max-width: 256px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
  }

  // .main-about__thanks-slide-label

  &__thanks-slide-label {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #4D5759;
  }

  // .main-about__thanks-slide-name

  &__thanks-slide-name {
    font-size: 18px;
    font-weight: 550;
    line-height: 120%;
    color: var(--blue-color);

    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  // .main-about__thanks-arrows

  &__thanks-arrows {
    position: absolute;

    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    column-gap: 12px;


    @media (max-width: $breakpoint768) {
      position: static;
      justify-content: center;
    }
  }

  // .main-about__thanks-arrow

  &__thanks-arrow {
    cursor: pointer;
  }

  // .main-about__thanks-prev

  &__thanks-prev {

    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }
  }

  // .main-about__thanks-next

  &__thanks-next {

    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }
  }

}

.main-about {

  // .main-about__charter

  &__charter {
    display: flex;
    align-items: flex-start;
    column-gap: 32px;

    margin-bottom: 70px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 30px;
    }

  }

  // .main-about__charter-pic

  &__charter-pic {
    flex: 0 0 352px;
    display: flex;
    width: 100%;

    img {
      max-width: 100%;
      width: 100%;
    }

    @media (max-width: $breakpoint992) {
      flex: 0 0 244px;
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      max-width: 320px;
      margin: 0 auto;
    }
  }

  // .main-about__charter-info

  &__charter-info {}

  // .main-about__charter-title

  &__charter-title {
    margin-bottom: 30px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
    }

    @media (max-width: $breakpoint768) {
      text-align: left;
    }
  }

  // .main-about__subtitle

  &__subtitle {}

  // .main-about__charter-link

  &__charter-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 20px 30px;
    border-radius: 50px;
    border: 2px solid #D7E6F7;
    font-weight: 400;
    line-height: 16px;
    font-size: 16px;
    color: var(--blue-color);
  }
}









.main-about {

  // .main-about__activity

  &__activity {
    margin-bottom: 70px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }
  }

  // .main-about__activity-title

  &__activity-title {
    margin-bottom: 30px;


    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
    }
  }

  // .main-about__subtitle

  &__subtitle {}

  // .main-about__activity-list

  &__activity-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @media (max-width: $breakpoint768) {
      row-gap: 20px;
    }
  }

  // .main-about__activity-item

  &__activity-item {
    display: flex;
    align-items: flex-start;
    column-gap: 32px;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid #D7E6F7;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  // .main-about__activity-pic

  &__activity-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    min-width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: #E6F3FF;
  }

  // .main-about__activity-info

  &__activity-info {}

  // .main-about__activity-label

  &__activity-label {
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 135%;
    font-size: 20px;
    color: var(--blue-color);
  }

  // .main-about__activity-descr

  &__activity-descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: var(--blue-color);

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  // .main-about__activity-descr--red

  &__activity-descr--red {
    color: var(--red-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

.main-about {

  // .main-about__contacts

  &__contacts {
    padding: 64px;
    border-radius: 25px;
    background-color: #E6F3FF;
    margin-bottom: 70px;

    @media (max-width: $breakpoint1450) {
      padding: 30px;
    }

    @media (max-width: $breakpoint992) {
      padding: 60px;
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      padding: 40px 20px;
    }
  }

  // .main-about__contacts-inner

  &__contacts-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-radius: 16px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint1450) {
      padding: 20px;
    }

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 30px;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }
  }

  // .main-about__contacts-column

  &__contacts-column {
    flex: 0 1 50%;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      width: 100%;
    }

    &:nth-child(1) {
      padding-right: 50px;
      border-right: 1px solid #D7E6F7;

      @media (max-width: $breakpoint1450) {
        padding-right: 30px;
      }

      @media (max-width: $breakpoint992) {
        padding-right: 0;
        padding-bottom: 40px;
        border-right: 0;
        border-bottom: 1px solid #D7E6F7;
      }

      @media (max-width: $breakpoint768) {
        padding-bottom: 20px;
      }
    }

    &:nth-child(2) {
      padding-left: 50px;

      @media (max-width: $breakpoint1450) {
        padding-left: 30px;
      }

      @media (max-width: $breakpoint992) {
        padding-left: 0;
        padding-top: 40px;
      }

      @media (max-width: $breakpoint768) {
        padding-top: 20px;
      }
    }
  }

  // .main-about__contacts-label

  &__contacts-label {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 135%;
    color: var(--blue-color);

    @media (max-width: $breakpoint768) {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  // .main-about__contacts-phone

  &__contacts-phone {
    margin-bottom: 5px;
    font-weight: 700;
    line-height: 32px;
    font-size: 28px;
    color: var(--blue-color);

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .main-about__contacts-descr

  &__contacts-descr {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #969696;

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }
  }
}










.main-about {

  // .main-about__revievs

  &__revievs {
    position: relative;

    width: 100%;

    margin-bottom: 70px;

    @media (max-width: 1200px) {}

    @media (max-width: $breakpoint992) {
      margin-bottom: 40px;
    }

    @media (max-width: $breakpoint768) {
      display: flex;
      flex-direction: column;
    }

  }

  // .main-about__revievs-header

  &__revievs-header {
    margin-bottom: 30px;
    height: 56px;

    @media (max-width: $breakpoint768) {
      order: 1;
      height: auto;
      margin-bottom: 20px;
    }

  }

  // .main-about__revievs-title

  &__revievs-title {
    margin-bottom: 0;

    @media (max-width: $breakpoint992) {
      margin-bottom: 0;
    }
  }

  // .main-about__subtitle

  &__subtitle {}

  // .main-about__revievs-slider

  &__revievs-slider {
    max-width: calc(100vw - 288px);
    margin-bottom: 40px;

    @media (max-width: 1200px) {
      max-width: calc(100vw - 360px);
    }

    @media (max-width: $breakpoint992) {
      max-width: calc(100vw - 50px);
    }

    @media (max-width: $breakpoint768) {
      order: 3;
      margin-bottom: 20px;
    }

  }

  // .main-about__revievs-wrapper

  &__revievs-wrapper {}

  // .main-about__revievs-slide

  &__revievs-slide {
    display: grid;
    height: 330px;
    max-width: 400px;
    width: 100%;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid #D7E6F7;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }

  }

  // .main-about__revievs-slide-name

  &__revievs-slide-name {
    margin-bottom: 10px;
    font-weight: 550;
    line-height: 109%;
    font-size: 20px;
    color: var(--blue-color);



    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }


  }

  // .main-about__revievs-slide-stars

  &__revievs-slide-stars {
    display: flex;
    column-gap: 2px;
    margin-bottom: 10px;
  }

  // .main-about__revievs-slide-star

  &__revievs-slide-star {}

  // .main-about__revievs-slide-text

  &__revievs-slide-text {
    max-width: 322px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 135%;
    font-size: 17px;
    color: var(--blue-color);


    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 6;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }

  }

  // .main-about__revievs-slide-more

  &__revievs-slide-more {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 109%;
    color: var(--red-color);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  // .main-about__revievs-slide-data

  &__revievs-slide-data {


    span {
      font-weight: 400;
      line-height: 18px;
      font-size: 14px;
      color: #4D5759;
    }
  }

  // .main-about__revievs-arrows

  &__revievs-arrows {
    position: absolute;

    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    column-gap: 12px;

    @media (max-width: $breakpoint768) {
      position: static;
      justify-content: center;
      order: 4;
    }

  }

  // .main-about__revievs-arrow

  &__revievs-arrow {
    cursor: pointer;
  }

  // .main-about__revievs-prev

  &__revievs-prev {
    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }
  }

  // .main-about__revievs-next

  &__revievs-next {
    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }

  }

  // .main-about__revievs-add

  &__revievs-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 50px;
    background-color: var(--red-color);

    font-weight: 400;
    line-height: 16px;
    font-size: 16px;
    color: var(--white-color);

    @media (max-width: $breakpoint768) {
      order: 2;
      margin-bottom: 20px;
    }

  }
}