.main-page {

  &__block {
    margin-bottom: 70px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 40px;
    }
  }

  // .main-page__years

  &__years {}

  &__years-inner {
    position: relative;
    overflow: hidden;
  }

  // .main-page__years-block

  &__years-block {
    display: flex;
    align-items: flex-start;
    padding: 60px;
    border-radius: 25px;
    background-color: #E6F3FF;
    background-image: url('../img/main-page/years-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      opacity: 1;

      .main-page__years-title span {
        border-bottom: 3px solid var(--red-color);
      }
    }

    @media (max-width: $breakpoint992) {
      padding: 74px 60px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 20px;
    }

    @media (max-width: $breakpoint768) {
      padding: 0;
    }
  }

  // .main-page__years-title

  &__years-title {
    max-width: 691px;
    font-size: 43px;
    font-weight: 700;
    line-height: 152.5%;
    text-transform: uppercase;
    color: var(--blue-color);

    & .main-page__years-title {
      display: inline;
      color: var(--red-color);
    }

    span {
      border-bottom: 3px solid transparent;
      font-size: 43px;
      font-weight: 700;
      line-height: 152.5%;
      text-transform: uppercase;
      color: var(--red-color);
    }

    a {
      border-bottom: 3px solid transparent;
      font-size: 43px;
      font-weight: 700;
      line-height: 152.5%;
      text-transform: uppercase;
      color: var(--red-color);

      &:hover {
        opacity: 1;
        border-color: var(--red-color);
      }
    }

    @media (max-width: $breakpoint992) {
      font-size: 36px;

      span {
        font-size: 36px;
      }

      a {
        font-size: 36px;
      }
    }

    @media (max-width: $breakpoint768) {
      padding: 34px 24px 0;
      font-size: 26px;

      span {
        font-size: 26px;
      }

      a {
        font-size: 26px;
      }

      & .main-page__years-title {
        padding: 0;
      }
    }
  }

  // .main-page__years-pic

  &__years-pic {
    position: absolute;
    bottom: 0;
    right: 0;

    @media (max-width: $breakpoint992) {
      bottom: -20px;
      right: -50px;
      width: 400px;
      height: 200px;
    }

    @media (max-width: $breakpoint768) {
      position: static;
      text-align: right;
      max-width: 100%;
      margin-left: auto;
    }
  }
}

.main-page {

  // .main-page__benefits

  &__benefits {}

  // .main-page__benefits-inner

  &__benefits-inner {}

  // .main-page__benefits-list

  &__benefits-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 32px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .main-page__benefits-item

  &__benefits-item {
    display: grid;
  }

  // .main-page__benefits-link

  &__benefits-link {
    display: flex;
    align-items: center;
    column-gap: 28px;
    padding: 30px;
    border-radius: 16px;
    background-color: var(--white-color);
    border: 2px solid #D7E6F7;

    transition: background-color 0.2s linear;

    &:hover {
      background-color: #D7E6F7;

      .main-page__benefits-pic {
        background-color: var(--white-color);
      }
    }

    @media (max-width: $breakpoint768) {
      padding: 18px;
      column-gap: 20px;
    }
  }

  // .main-page__benefits-pic

  &__benefits-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    min-width: 84px;
    height: 84px;
    background-color: #E6F3FF;
    border-radius: 100%;

    transition: background-color 0.2s linear;
  }

  // .main-page__benefits-text

  &__benefits-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: var(--blue-color);

    @media (max-width: 359px) {
      font-size: 16px;
    }
  }
}


.main-page {

  // .main-page__info-slider

  &__info-slider {}

  // .main-page__info-inner

  &__info-inner {
    padding-bottom: 70px;
    overflow: visible;

    @media (max-width: $breakpoint768) {
      padding-bottom: 40px;
    }
  }

  // .main-page__info-header

  &__info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 48px;
    margin-bottom: 30px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
    }
  }

  // .main-page__info-title

  &__info-title {
    font-weight: 700;
    line-height: 40px;
    font-size: 32px;
    color: var(--blue-color);

    span {
      font-weight: 700;
      line-height: 40px;
      font-size: 32px;
      color: var(--red-color);
    }

    @media (max-width: $breakpoint768) {
      font-size: 28px;
      text-align: center;
    }
  }

  // .main-page__info-arrows

  &__info-arrows {
    display: flex;
    align-items: center;
    column-gap: 12px;

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  // .main-page__info-arrow

  &__info-arrow {
    cursor: pointer;
  }

  // .main-page__info-arrow-prev

  &__info-arrow-prev {
    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }

    &.swiper-button-disabled {
      user-select: none;
      pointer-events: none;
      cursor: default;

      svg path {
        stroke: #E6E6E6;
      }

      svg circle {
        stroke: #E6E6E6;
      }
    }
  }

  // .main-page__info-arrow-next

  &__info-arrow-next {
    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }

    &.swiper-button-disabled {
      user-select: none;
      pointer-events: none;
      cursor: default;

      svg path {
        stroke: #E6E6E6;
      }

      svg circle {
        stroke: #E6E6E6;
      }
    }
  }

  // .main-page__info-slides

  &__info-slides {}

  // .main-page__info-slide

  &__info-slide {
    width: 352px;
    height: 469px;
    padding: 35px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;

    transition: 0.2s linear;

    @media (min-width: 992px) {
      &:hover {
        transform: scale(1.1);
        box-shadow: 0px 9.895188331604004px 21.769412994384766px 0px rgba(0, 0, 0, 0.24);
        opacity: 1;
      }
    }

    @media (max-width: $breakpoint768) {
      width: 260px;
      height: 346px;
      padding: 24px;

      // &:nth-child(1) {
      //   position: relative;


      //   &::after {
      //     content: '';
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     width: 100%;
      //     height: 100%;
      //     background-size: contain;
      //     background-repeat: no-repeat;

      //     animation: firstSlideAnimation 4s linear;
      //     z-index: 1;
      //   }

      //   &::before {
      //     content: '';
      //     position: absolute;
      //     top: 50%;
      //     width: 64px;
      //     height: 72px;
      //     background-image: url('../img/main-page/noun-swipe.svg');
      //     background-repeat: no-repeat;
      //     z-index: 2;

      //     animation: slidingAnimation 4s linear infinite;
      //   }
      // }
    }
  }

  // .main-page__info-slide-label

  &__info-slide-label {
    font-weight: 400;
    line-height: 30px;
    font-size: 24px;

    @media (max-width: $breakpoint768) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  // .main-page__info-slide-label--white

  &__info-slide-label--white {
    color: #F8F8F8;
  }

  // .main-page__info-slide-label--blue

  &__info-slide-label--blue {
    color: var(--blue-color);
  }
}




.main-page {

  // .main-page__accessibility

  &__accessibility {
    overflow: hidden;
  }

  // .main-page__block

  &__block {}

  // .main-page__accessibility-inner

  &__accessibility-inner {
    display: flex;
    background-color: #E6F3FF;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      background-color: transparent;
    }
  }

  // .main-page__accessibility-pic

  &__accessibility-pic {
    max-width: 200%;
    width: 42%;
    // max-height: 430px;
    overflow: hidden;
    object-fit: cover;

    background-image: url('../img/main-page/main-page-accessibility-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    @media (max-width: 1300px) {
      margin-left: -200px;
    }

    @media (max-width: $breakpoint992) {
      width: 240px;
      margin-left: 0;
      object-fit: cover;
    }

    @media (max-width: $breakpoint768) {
      width: 100%;
      height: 390px;
    }

  }

  // .main-page__accessibility-slider

  &__accessibility-slider {
    // max-width: 52%;
    max-width: 750px;
    margin-left: 0;
    padding: 70px 20px 70px 60px;

    @media (max-width: 1440px) {
      max-width: 700px;
    }

    @media (max-width: 1300px) {
      max-width: 70%;
    }

    @media (max-width: $breakpoint992) {
      padding: 60px 20px 60px 34px;
    }

    @media (max-width: $breakpoint768) {
      max-width: calc(100% - 40px);
      margin: 0 20px;
      margin-top: -200px;
      padding: 34px 20px 120px;
      background-color: #E6F3FF;
    }
  }

  // .main-page__accessibility-header

  &__accessibility-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 38px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      text-align: center;
      justify-content: center;
    }
  }

  // .main-page__accessibility-title

  &__accessibility-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 120%;
    color: var(--blue-color);

    span {
      font-size: 48px;
      font-weight: 500;
      line-height: 120%;
      color: var(--red-color);
    }

    @media (max-width: $breakpoint992) {
      font-size: 36px;

      span {
        font-size: 36px;
      }
    }

    @media (max-width: $breakpoint768) {
      font-size: 30px;

      span {
        font-size: 30px;
      }
    }
  }

  // .main-page__accessibility-arrows

  &__accessibility-arrows {
    display: flex;
    align-items: center;
    column-gap: 12px;

    @media (max-width: $breakpoint768) {
      position: absolute;
      bottom: 34px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  // .main-page__accessibility-arrow

  &__accessibility-arrow {
    cursor: pointer;
  }

  // .main-page__accessibility-arrow-prev

  &__accessibility-arrow-prev {
    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }

    &.swiper-button-disabled {
      user-select: none;
      pointer-events: none;
      cursor: default;

      svg path {
        stroke: #E6E6E6;
      }

      svg circle {
        stroke: #E6E6E6;
      }
    }
  }

  // .main-page__accessibility-arrow-next

  &__accessibility-arrow-next {
    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }

    &.swiper-button-disabled {
      user-select: none;
      pointer-events: none;
      cursor: default;

      svg path {
        stroke: #E6E6E6;
      }

      svg circle {
        stroke: #E6E6E6;
      }
    }
  }

  // .main-page__accessibility-wrapper

  &__accessibility-wrapper {}

  // .main-page__accessibility-slide

  &__accessibility-slide {}

  // .main-page__accessibility-descr

  &__accessibility-descr {
    max-width: 577px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: var(--blue-color);

    @media (max-width: $breakpoint992) {
      font-size: 18px;
      line-height: 130%;
    }
  }

  // .main-page__accessibility-list

  &__accessibility-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .main-page__accessibility-item

  &__accessibility-item {
    position: relative;
    padding-left: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    color: var(--blue-color);


    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 8px;
      width: 6px;
      min-width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: var(--blue-color);
    }

    @media (max-width: $breakpoint992) {
      font-size: 18px;
      line-height: 130%;

      &::before {
        top: 8px;
      }
    }
  }
}




.main-page {

  // .main-page__articles

  &__articles {}

  // .main-page__articles-inner

  &__articles-inner {}

  // .main-page__articles-title

  &__articles-title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 40px;
    font-size: 32px;
    color: var(--blue-color);

    span {
      font-weight: 700;
      line-height: 40px;
      font-size: 32px;
      color: var(--red-color);
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 15px;
      text-align: center;
      font-size: 28px;

      span {
        font-size: 28px;
      }
    }
  }

  // .main-page__articles-text

  &__articles-text {
    max-width: 810px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 135%;
    color: var(--blue-color);

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  // .main-page__articles-list

  &__articles-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 32px;
    margin-bottom: 40px;

    @media (max-width:1100px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 30px;
    }
  }

  // .main-page__articles-item

  &__articles-item {
    display: grid;
    border-radius: 16px;
  }

  // .main-page__articles-item--green

  &__articles-item--green {
    .main-page__articles-label {
      border-color: #5CFF74;
    }

    .main-page__articles-img {
      background: linear-gradient(90deg, #02C7AF 0%, #00E1C6 100%);

    }
  }

  // .main-page__articles-link

  &__articles-link {
    display: grid;
    border-radius: 16px;
    overflow: hidden;

    transition: filter 0.2s linear;

    &:hover {
      opacity: 1;
      filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.12));
    }
  }

  &__articles-info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding: 16px 20px;
    background-color: #F8F8F8;
  }

  // .main-page__articles-header

  &__articles-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
  }

  // .main-page__articles-label

  &__articles-label {
    padding: 8px 12px;
    font-weight: 400;
    line-height: 135%;
    font-size: 12px;
    color: #031317;
    border-radius: 32px;
    border: 1px solid;

    @media (max-width:358px) {
      font-size: 11px;
      padding: 8px;
    }
  }

  // .main-page__articles-data

  &__articles-data {
    font-weight: 400;
    line-height: 135%;
    font-size: 12px;
    color: #969696;
  }

  // .main-page__articles-name

  &__articles-name {
    height: 72px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.3px;
    font-size: 20px;
    color: var(--blue-color);

    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;

  }

  // .main-page__articles-img

  &__articles-img {
    display: flex;
    justify-content: center;
  }

  // .main-page__articles-item--blue

  &__articles-item--blue {
    .main-page__articles-label {
      border-color: #5CFF74;
    }

    .main-page__articles-img {
      background: linear-gradient(90deg, #059FDF 0%, #54D6FF 100%);
    }
  }

  // .main-page__articles-item--fiol

  &__articles-item--fiol {
    .main-page__articles-label {
      border-color: #686BFF;
    }

    .main-page__articles-img {
      background: linear-gradient(90deg, #6D6DE5 0%, #747DF1 100%);
    }
  }

  // .main-page__articles-all

  &__articles-all {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 50px;
    border: 2px solid #D7E6F7;

    white-space: nowrap;
    font-weight: 400;
    line-height: 16px;
    font-size: 16px;
    color: var(--blue-color);

    transition: color 0.2s linear, border-color 0.2s linear;

    &:hover {
      border-color: var(--red-color);
      color: var(--red-color);
      opacity: 1;
    }

    @media (max-width: $breakpoint480) {
      width: 100%;
      padding: 20px;
    }

    @media (max-width:358px) {
      padding: 15px 10px;
      font-size: 14px;
    }
  }
}




.main-page {

  // .main-page__news

  &__news {}

  // .main-page__news-tabs

  &__news-tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    margin-bottom: 30px;
    border-radius: 16px;
    border: 2px solid #D7E6F7;
    overflow: hidden;

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
    }
  }

  // .main-page__news-tab

  &__news-tab {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 5px;
    padding: 30px;
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    font-size: 32px;
    color: var(--blue-color);

    cursor: pointer;

    span {
      font-weight: 700;
      line-height: 40px;
      font-size: 32px;
      color: var(--red-color);
    }

    &.active {
      background-color: #D7E6F7;
    }


    @media (max-width: $breakpoint992) {
      padding: 16px;
      font-size: 20px;

      span {
        font-size: 20px;
      }
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
      line-height: 20px;

      span {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  // .main-page__news-lists

  &__news-lists {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 30px;
  }

  // .main-page__news-list

  &__news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    column-gap: 32px;

    @media (max-width:1100px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 30px;
    }
  }

  // .main-page__news-item

  &__news-item {
    display: grid;
    transition: filter 0.2s linear;

    @media (max-width:1100px) {

      &:nth-child(n + 3) {
        display: none;
      }
    }

  }

  &__news-info {
    padding: 32px;
    background: rgba(215, 230, 247, 0.20);

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }
  }

  // .main-page__news-link

  &__news-link {
    display: grid;
    border-radius: 16px;
    overflow: hidden;
    transition: filter 0.2s linear;

    &:hover {
      opacity: 1;
      filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.2));
    }
  }

  // .main-page__news-text

  &__news-text {
    height: 136px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    color: #3A3A3A;


    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 5;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;


    @media (max-width: $breakpoint992) {
      margin-bottom: 24px;
    }
  }

  // .main-page__news-footer

  &__news-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
  }

  // .main-page__news-data

  &__news-data {
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    color: #939393;
  }

  // .main-page__news-whu

  &__news-whu {
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    color: var(--blue-color);
  }

  // .main-page__news-pic

  &__news-pic {
    width: 100%;
  }

  // .main-page__articles-all

  &__articles-all {}
}







.main-page {

  // .main-page__videos

  &__videos {}

  // .main-page__videos-inner

  &__videos-inner {}

  // .main-page__videos-slider

  &__videos-slider {
    margin-bottom: 40px;
  }

  // .main-page__videos-header

  &__videos-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 30px;
  }

  // .main-page__videos-title

  &__videos-title {
    display: flex;
    align-items: center;
    column-gap: 15px;

    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: var(--red-color);

    @media (max-width: $breakpoint768) {
      font-size: 28px;
      column-gap: 10px;
    }
  }

  // .main-page__videos-arrows

  &__videos-arrows {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  // .main-page__videos-arrow

  &__videos-arrow {
    cursor: pointer;
  }

  // .main-page__videos-arrow-prev

  &__videos-arrow-prev {
    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }

    &.swiper-button-disabled {
      user-select: none;
      pointer-events: none;
      cursor: default;

      svg path {
        stroke: #E6E6E6;
      }

      svg circle {
        stroke: #E6E6E6;
      }
    }
  }

  // .main-page__videos-arrow-next

  &__videos-arrow-next {
    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }

    &.swiper-button-disabled {
      user-select: none;
      pointer-events: none;
      cursor: default;

      svg path {
        stroke: #E6E6E6;
      }

      svg circle {
        stroke: #E6E6E6;
      }
    }
  }

  // .main-page__videos-wrapper

  &__videos-wrapper {}

  // .main-page__videos-slide

  &__videos-slide {}

  // .main-page__videos-video

  &__videos-video {
    position: relative;
    width: 100%;
    height: 310px;
    margin-bottom: 20px;
    border-radius: 16px;
    background-color: gray;

    @media (max-width: $breakpoint480) {
      height: 200px;
      margin-bottom: 15px;
    }
  }

  // .main-page__videos-play

  &__videos-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // .main-page__videos-text

  &__videos-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    color: var(--blue-color);

    @media (max-width: $breakpoint480) {
      font-size: 16px;
    }
  }

  // .main-page__articles-all

  &__articles-all {}
}




.main-page {

  // .main-page__history

  &__history {
    padding: 70px 0;
    background-color: #F8F8F8;

    @media (max-width: $breakpoint992) {
      padding: 60px 0;
    }

    @media (max-width: $breakpoint768) {
      padding: 40px 0;
    }
  }

  // .main-page__history-inner

  &__history-inner {}

  // .main-page__history-slider

  &__history-slider {
    margin-bottom: 40px;

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
    }
  }

  // .main-page__history-header

  &__history-header {
    margin-bottom: 30px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
    }

    @media (max-width: $breakpoint768) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  // .main-page__history-title

  &__history-title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 40px;
    font-size: 32px;
    color: var(--blue-color);

    span {
      font-weight: 700;
      line-height: 40px;
      font-size: 32px;
      color: var(--red-color);
    }

    @media (max-width: $breakpoint768) {
      font-size: 28px;
      line-height: 33px;

      span {
        font-size: 28px;
        line-height: 33px;
      }
    }
  }

  // .main-page__history-texts

  &__history-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 15px;
    }
  }

  // .main-page__history-text

  &__history-text {
    max-width: 768px;
    font-weight: 400;
    line-height: 135%;
    font-size: 20px;
    color: var(--blue-color);

    @media (max-width: $breakpoint768) {
      max-width: 100%;
      font-size: 18px;
    }
  }

  // .main-page__history-arrows

  &__history-arrows {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  // .main-page__history-arrow

  &__history-arrow {
    cursor: pointer;
  }

  // .main-page__history-arrow-prev

  &__history-arrow-prev {
    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }

    &.swiper-button-disabled {
      user-select: none;
      pointer-events: none;
      cursor: default;

      svg path {
        stroke: #E6E6E6;
      }

      svg circle {
        stroke: #E6E6E6;
      }
    }
  }

  // .main-page__history-arrow-next

  &__history-arrow-next {
    svg path {
      transition: 0.2s linear;
    }

    svg circle {
      transition: 0.2s linear;
    }

    &:hover {
      svg path {
        stroke: var(--red-color);
      }

      svg circle {
        stroke: var(--red-color);
      }
    }

    &.swiper-button-disabled {
      user-select: none;
      pointer-events: none;
      cursor: default;

      svg path {
        stroke: #E6E6E6;
      }

      svg circle {
        stroke: #E6E6E6;
      }
    }
  }

  // .main-page__history-wrapper

  &__history-wrapper {}

  // .main-page__history-slide

  &__history-slide {
    display: grid;
    border-radius: 16px;
    overflow: hidden;
  }

  &__history-info {
    padding: 20px;
    height: 136px;
    background-color: var(--white-color);
  }

  // .main-page__articles-item--green

  &__articles-item--green {
    .main-page__history-pic {
      background: linear-gradient(90deg, #02C7AF 0%, #00E1C6 100%);
    }
  }

  // .main-page__history-slide-title

  &__history-slide-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.3px;
    color: var(--blue-color);

    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 4;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }

  // .main-page__history-pic

  &__history-pic {
    display: flex;
    justify-content: center;
  }

  // .main-page__articles-item--blue

  &__articles-item--blue {
    .main-page__history-pic {
      background: linear-gradient(90deg, #059FDF 0%, #54D6FF 100%);
    }
  }

  // .main-page__articles-item--fiol

  &__articles-item--fiol {
    .main-page__history-pic {
      background: linear-gradient(90deg, #6D6DE5 0%, #747DF1 100%);
    }
  }

  // .main-page__history-links

  &__history-links {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;

    .main-page__articles-all {
      margin: 0;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 10px;
      width: 100%;

      .main-page__articles-all {
        width: 100%;
      }
    }
  }

  // .main-page__articles-all

  &__articles-all {}

  // .main-page__articles-all--red

  &__articles-all--red {
    border-color: var(--red-color);
    background-color: var(--red-color);
    color: var(--white-color);

    transition: background-color 0.2s linear;

    &:hover {
      color: var(--red-color);
      background-color: var(--white-color);
    }
  }
}











.pick-up-points {

  // .pick-up-points__inner

  &__inner {
    margin-bottom: 30px;
  }

  // .pick-up-points__header

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 32px;
    margin-bottom: 32px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 20px;
    }
  }

  // .pick-up-points__title

  &__title {

    span {
      display: block;
    }
  }

  // .pick-up-points__cities-btn

  &__cities-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

    padding: 20px 30px;
    border-radius: 50px;
    background-color: var(--blue-color);

    white-space: nowrap;
    font-weight: 400;
    line-height: 16px;
    font-size: 16px;
    color: var(--white-color);

    transition: background-color 0.2s linear;

    &:hover {
      background-color: var(--red-color);
    }

    @media (max-width: $breakpoint480) {
      width: 100%;
    }
  }

  // .pick-up-points__filters

  &__filters {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    margin-bottom: 30px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
      margin-bottom: 25px;
    }
  }

  // .pick-up-points__filter

  &__filter {

    img {
      position: absolute;
      bottom: 16px;
      right: 16px;
      cursor: pointer;
    }

    &.open-list {
      position: relative;

      .pick-up-points__filter-label,
      .pick-up-points__filter-input {
        position: relative;
        z-index: 1;
      }
    }
  }

  // .pick-up-points__filter-label

  &__filter-label {
    display: flex;
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 135%;
    font-size: 17px;
    color: #031317;
  }

  // .pick-up-points__filter-input

  &__filter-input {
    width: 100%;
    padding: 16px 40px 16px 16px;
    border-radius: 4px;
    border: 1px solid var(--primary-hover-fill, #D7E6F7);
    outline: 0;

    font-weight: 400;
    line-height: normal;
    font-size: 16px;
    color: var(--blue-color);

    &::placeholder {
      font-weight: 400;
      line-height: normal;
      font-size: 16px;
      color: #969696;
    }
  }

  // .pick-up-points__views

  &__views {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 26px;

    @media (max-width: 570px) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 25px;
    }
  }

  // .pick-up-points__view

  &__view {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 10px 20px;

    border-radius: 50px;
    border: 1px solid #D7E6F7;
    background-color: transparent;

    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    color: var(--blue-color);

    &.active {
      border-color: var(--blue-color);
    }

    &:hover {
      border-color: var(--blue-color);
    }

    @media (max-width: $breakpoint992) {
      column-gap: 0;
      font-size: 0;
    }

    @media screen and (max-width: 639px) {
      width: auto;
    }

    @media (max-width: 570px) {

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 4;
      }
    }
  }

  // .pick-up-points__downloud

  &__downloud {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 10px 20px;
    margin-left: auto;

    border-radius: 50px;
    background-color: var(--red-color);

    font-weight: 400;
    line-height: 16px;
    font-size: 16px;
    color: var(--white-color);

    &:hover {
      color: var(--white-color);
    }

    @media (max-width: 570px) {
      flex: 0 1 100%;
      order: 1;
    }
  }

  // .pick-up-points__content

  &__content {
    display: flex;
    align-items: flex-start;
    height: 664px;
    border-radius: 25px;
    overflow: hidden;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      height: 100%;
    }


    &.points-map-list {
      .pick-up-points__map {
        flex: 0 1 736px;
        height: 100%;

        @media (max-width: $breakpoint768) {
          flex: 0 1 auto;
          width: 100%;
          height: 450px;
        }
      }

      .pick-up-points__list {
        flex: 0 0 384px;

        @media (max-width: $breakpoint768) {
          flex: 0 1 auto;
          width: 100%;
        }
      }
    }

    &.points-map {
      .pick-up-points__map {
        flex: 0 1 100%;
        height: 100%;

        @media (max-width: $breakpoint768) {
          flex: 0 1 auto;
          width: 100%;
          height: 450px;
        }
      }

      .pick-up-points__list {
        flex: 0 0 0;
        width: 0;

        @media (max-width: $breakpoint768) {
          height: 0;
          padding: 0;
        }
      }
    }

    &.points-list {
      .pick-up-points__map {
        flex: 0 0 0;
        width: 0;
        height: 0;

        @media (max-width: $breakpoint768) {}
      }

      .pick-up-points__list {
        flex: 0 1 100%;
        width: 100%;

        @media (max-width: $breakpoint768) {
          height: 0;
          padding: 0;
        }
      }
    }
  }

  // .pick-up-points__map

  &__map {
    transition: width 0.5s linear, flex 0.5s linear;
  }

  // .pick-up-points__map-map

  &__map-map {
    width: 100%;
    height: 100%;
    background-color: #5CFF74;
  }

  // .pick-up-points__list

  &__list {
    padding-right: 10px;
    padding: 32px 0;
    border-radius: 0px 25px 25px 0px;
    background-color: rgb(215, 230, 247, 0.2);

    transition: width 0.5s linear, flex 0.5s linear;

    .main-page__articles-all {
      display: none;
    }

    @media (max-width: $breakpoint768) {
      width: 100%;
      border-radius: 0 0 25px 25px;

      .main-page__articles-all {
        display: flex;
        // margin-bottom: 32px;
        padding: 20px 30px;
        width: fit-content;
      }
    }
  }

  // .pick-up-points__list-inner

  &__list-inner {
    overflow-y: auto;

    scrollbar-color: var(--red-color) #C8C8C8;
    scrollbar-width: thin;

    @media (max-width: $breakpoint768) {
      overflow: visible;
    }

    &::-webkit-scrollbar {
      width: 4px;
      border-radius: 16px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 16px;
      background: #C8C8C8;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 16px;
      background: var(--red-color);
    }
  }

  // .pick-up-points__list-list

  &__list-list {
    height: 600px;
    padding: 0 20px 0 32px;

    @media (max-width: $breakpoint992) {
      padding: 0 16px 0 20px;
    }

    @media (max-width: $breakpoint768) {
      height: 100%;
      padding: 0 16px;
    }
  }

  // .pick-up-points__list-item

  &__list-item {
    padding-bottom: 20px;

    @media (max-width: $breakpoint768) {
      border-block-start: 15px;
    }


    &:not(:last-child) {
      border-bottom: 1px solid #D7E6F7;
    }

    &:not(:first-child) {
      padding-top: 20px;

      @media (max-width: $breakpoint768) {
        border-top: 15px;
      }
    }
  }

  // .pick-up-points__list-title

  &__list-title {
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 120%;
    font-size: 20px;
    color: var(--blue-color);

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .pick-up-points__list-address

  &__list-address {
    display: flex;
    align-items: flex-start;
    column-gap: 9px;
    margin-bottom: 10px;
  }

  // .pick-up-points__list-info

  &__list-info {
    font-weight: 400;
    line-height: 20px;
    color: #000;
    font-size: 14px;

    p {
      font: inherit;
    }
  }

  // .pick-up-points__list-time

  &__list-time {
    display: flex;
    align-items: flex-start;
    column-gap: 9px;
    margin-bottom: 10px;
  }

  // .pick-up-points__list-open

  &__list-open {
    font-weight: 400;
    line-height: 20px;
    color: #38A648;
    font-size: 14px;
  }

  // .pick-up-points__list-worked

  &__list-worked {
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    color: #969696;

    cursor: pointer;

    svg {
      cursor: pointer;

      transition: 0.2s linear;
    }

    &.show {
      svg {
        transform: rotate(180deg);
      }


      &~.pick-up-points__list-days {
        max-height: 500px;
        opacity: 1;
        user-select: auto;
        pointer-events: visible;
      }
    }
  }

  // .pick-up-points__list-days

  &__list-days {
    max-height: 0;
    opacity: 0;
    user-select: none;
    pointer-events: none;

    transition: 0.3s linear;


  }

  // .pick-up-points__list-day

  &__list-day {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #D7E6F7;
    }
  }

  // .pick-up-points__list-day-day

  &__list-day-day {
    color: #38A648;
  }

  // .pick-up-points__list-day-times

  &__list-day-times {


    span {
      font: inherit;
      font-size: 13px;
      color: #969696;
    }
  }

  // .pick-up-points__list-phones

  &__list-phones {
    display: flex;
    align-items: flex-start;
    column-gap: 9px;

    a {
      display: flex;
      width: fit-content;
      font-weight: 400;
      line-height: 20px;
      font-size: 14px;
      color: #000;

      &:hover {
        color: var(--red-color);
      }
    }
  }

  // .pick-up-points__footer

  &__footer {
    display: flex;
    align-items: flex-start;
    column-gap: 16px;
    padding: 20px;
    border-radius: 16px;
    background: rgb(215, 230, 247, 0.2);


    @media (max-width: $breakpoint480) {
      padding: 15px;
    }
  }

  // .pick-up-points__footer-descr

  &__footer-descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: var(--blue-color);

    a {
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      color: var(--red-color);
    }

    @media (max-width: $breakpoint992) {
      max-width: 570px;
    }
  }
}

.main-page__news-company {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  margin-bottom: 40px;

  @media (max-width: $breakpoint992) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoint768) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
  }
}

.main-page__news-company-item {
  display: grid;
  padding: 30px;
  border-radius: 16px;
  border: 2px solid var(--primary-hover-fill, #D7E6F7);
  background: var(--white, #FFF);

  &:hover {
    img {
      transform: translateX(5px);
    }
  }

  @media (max-width: $breakpoint992) {
    &:nth-child(n+3) {
      display: none;
    }
  }

}

.main-page__news-company-label {
  margin-bottom: 14px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #4D5759;
}

.main-page__news-company-title {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 6;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;


  margin-bottom: 30px;
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  color: var(--blue-color);

  @media (max-width: $breakpoint992) {
    font-size: 18px;
  }
}

.main-page__news-company-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 20px;

  img {
    transition: transform 0.2s linear;
  }
}

.main-page__news-company-data {
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
  color: #4D5759;
}






.main-page {

  // .main-page__contacts

  &__contacts {}

  // .main-page__block

  &__block {}

  // .main-page__contacts-inner

  &__contacts-inner {
    padding: 70px 96px;
    border-radius: 25px;
    background-color: #E6F3FF;
    background-image: url('../img/main-page/main-page-contacts-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: $breakpoint992) {
      padding: 60px 42px;
    }

    @media (max-width: $breakpoint768) {
      padding: 40px 16px;
    }

  }

  // .main-page__contacts-title

  &__contacts-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    color: var(--blue-color);

    span {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px;
      color: var(--red-color);
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 32px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      font-size: 28px;

      span {
        font-size: 28px;
      }
    }

  }

  // .main-page__contacts-groups

  &__contacts-groups {
    display: flex;
    column-gap: 32px;
    row-gap: 30px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
    }

    @media (max-width: $breakpoint768) {
      row-gap: 20px;
    }

  }

  // .main-page__contacts-phones

  &__contacts-phones {
    flex: 0 1 352px;
    display: grid;
    padding: 30px;
    border-radius: 16px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      padding: 20px;
    }
  }

  // .main-page__contacts-phone

  &__contacts-phone {

    &:nth-child(1) {
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid #D7E6F7;

      @media (max-width: $breakpoint768) {
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

    }
  }

  // .main-page__contacts-phone-label

  &__contacts-phone-label {
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 135%;
    font-size: 20px;
    color: var(--blue-color);

    @media (max-width: $breakpoint768) {
      margin-bottom: 10px;
      font-size: 16px;
    }

  }

  // .main-page__contacts-tel

  &__contacts-tel {
    display: inline-flex;
    margin-bottom: 5px;
    white-space: nowrap;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--blue-color);

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }

  }

  // .main-page__contacts-phone-descr

  &__contacts-phone-descr {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: #969696;

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }

  }

  // .main-page__contacts-form

  &__contacts-form {
    flex: 0 1 544px;
    display: grid;
    padding: 30px;
    border-radius: 16px;
    background-color: var(--white-color);

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
    }

  }

  // .main-page__contacts-form-group

  &__contacts-form-group {
    margin-bottom: 20px;
  }

  // .main-page__contacts-form-label

  &__contacts-form-label {
    display: grid;
    margin-bottom: 12px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    color: var(--black-color);
  }

  // .main-page__contacts-form-input

  &__contacts-form-input {
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid var(--primary-hover-fill, #D7E6F7);
    background: var(--white, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--black-color);

    &::placeholder {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #969696;
    }
  }

  // .main-page__contacts-form-btn

  &__contacts-form-btn {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border-radius: 50px;
    background: var(--red-color);

    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--white-color);

    @media (max-width: $breakpoint768) {
      margin-top: 0;
    }

  }
}







.pick-up-points__city-wrapper {
  position: absolute;
  top: -15px;
  left: -15px;
  width: calc(100% + 30px);
  padding: 120px 15px 20px 15px;

  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: #fff;
}

.pick-up-points__city-list {

  max-height: 255px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;



  scrollbar-color: var(--red-color) #C8C8C8;
  scrollbar-width: thin;


  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 16px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 16px;
    background: #C8C8C8;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: var(--red-color);
  }
}

.pick-up-points__city-item {
  cursor: pointer;

  &:hover {
    color: var(--red-color);
  }
}